<mat-toolbar style="background-color: #F1EDFC;">
    <button mat-icon-button routerLink="/" >
      <mat-icon style="color: black; font-size: 25px;">keyboard_arrow_left</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container mt-3">
    <div class="card row" style="border: none;">
        <div class="card-body">
            <div class="mt-2 p-1 ">
                <div > <div class="circle" ></div></div>
                
                <div ><h2><b>{{cat_transaction.category_detail.name }}</b></h2></div>
            </div>
            
              <div class="d-flex">
                <div class="p-2" >
                  <p>Gasto Total</p>
                  <p>$ {{cat_transaction.category_detail.total_expenses}}</p>
                </div>
                <div class="p-2 text-center">
                  <p>Movimientos</p>
                  <p>{{cat_transaction.category_detail.count_transactions}}</p>
                </div>
              </div>
          <div><h2><b>Mi presupuesto</b></h2></div>
              <div class="d-flex">
                <div class="p-2">
                  <p>Presupuesto</p>
                  <p>$ {{cat_transaction.category_detail.limit}}</p>
                </div>
                <div class="p-2">
                  <p>Disponible</p>
                  <p style="color: green;">$ {{cat_transaction.category_detail.amount_avilable}}</p>
                </div>
              </div>
          <div class="row">
            <div class="col col-md-6">
              <p class="pt-2">{{cat_transaction.category_detail.percent_expensed}}% del presupuesto gastado</p>
              <mat-progress-bar mode="determinate" value="{{cat_transaction.category_detail.percent_expensed}}"></mat-progress-bar></div>
          </div>
          
        </div>
      <div>
        
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="card row" style="border: none;">
        <div class="card-body">
       <div class="row text-center">
          <div class="col">Movimientos</div>
       </div>
       <div *ngFor="let transaction of cat_transaction.transactions">
          <h4>{{transaction.group_name}}</h4>
          <div *ngFor="let current_t of transaction.transactions" class="row px-3 my-3">
            <div class="col"> <div class="circle" style="background-color: #F1EDFC;">
              <button mat-icon-button routerLink="/transaction-detail/{{current_t.id}}">
                <mat-icon style="color: black; font-size: 25px;">info</mat-icon>
              </button>
            </div></div>
            <div class="col">
              <div class="row">{{current_t.description}}</div>
              <div class="row">  {{current_t.t_config.hour}}</div>
           
            </div>
            <div class="col"> - $ {{current_t.amount}}</div>
          </div>

       </div>
          
        </div>
      <div>
        
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>